<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.kuleuven.softdev.zijunyin.DesireAndAchievement_1_0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coin_euro"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="be.kuleuven.softdev.zijunyin.DesireAndAchievement_1_0.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.kuleuven.softdev.zijunyin.DesireAndAchievement_1_0.Habit.HabitNew"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="be.kuleuven.softdev.zijunyin.DesireAndAchievement_1_0.Todo.TodoNew"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="be.kuleuven.softdev.zijunyin.DesireAndAchievement_1_0.Reward.RewardNew"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="be.kuleuven.softdev.zijunyin.DesireAndAchievement_1_0.UserManual"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="be.kuleuven.softdev.zijunyin.DesireAndAchievement_1_0.About"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>